*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Tahoma';
}
.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

li{
    list-style:none;
}

a{
    text-decoration: none;
    color: #000;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-content {
    flex: 1;
}